*.DS_Store
.git
.gitignore
.github/
.travis.yml
.editorconfig
.eslintrc*
.npmrc
*.log
src/
test/
coverage/
node_modules/
*.ts
*.tsx
dist/
lib/
build/
.nyc_output
codecov*
*.sh
yarn.lock
package-lock.json
tsconfig*.json
CHANGELOG.md
